---
interface Props {
    title: string;
    description: string;
    emoji: string;
    badge?: string;
    // badgeColor?: string;
    // colorName?: string;
    badgeBg?: string;
    badgeText?: string;
}

const {
    title,
    description,
    emoji,
    badge,
    // badgeColor = "bg-button-1"
    //colorName = "red"
    badgeBg = "bg-red-100",
    badgeText = "text-red-800"
} = Astro.props;

---

<div class="card bg-white border border-slate-100 shadow-sm h-full hover:shadow-md transition-all duration-300 rounded-3xl">
    <div class="card-body p-8 flex flex-col items-center text-justify">
        
        <!-- 1. Le Badge -->
        {badge && (
            <span class={`px-3 py-1 text-[10px] font-black uppercase tracking-widest ${badgeBg} ${badgeText} rounded-lg mb-6`}>
                {badge}
            </span>
        )}

        <!-- 2. L'Emoji -->
        <div class="text-4xl mb-4 grayscale-[0.2] hover:grayscale-0 transition-all">
            {emoji}
        </div>

        <!-- 3. Le Titre (dans sa pastille) -->
        <h3 class="mb-4">
            <span class="inline-block px-4 py-1.5 rounded-full text-xs font-bold tracking-wide uppercase bg-pastille-1 text-text-pastille-1 font-sans">
                {title}
            </span>
        </h3>

        <!-- 4. La Description -->
        <p class="text-base text-text-1 font-sans leading-relaxed">
            {description}
        </p>
        
    </div>
</div>