---
import "../styles/global.css";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";

const {
		title = "titre générique",
		description =""
} = Astro.props;
---
<!doctype html>
<html lang="fr" data-theme="light" class="scroll-smooth">
	<head>
		<meta charset="UTF-8" />
		<meta name="google-site-verification" content="A16LE4FufGfCnsgIQA8MO5j0LoOoEnHq10maODBt1Mw" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		
		<title>{title}</title>
		<meta name="description" content={description}/>
		<link rel="canonical" href={Astro.url}>
		
		<meta property="og:type" content="website" />
		<meta property="og:title" content={title} />
		<meta property="og:description" content={description} />
		<meta property="og:url" content={Astro.url} />
		<meta property="og:image" content="/images/og-image.jpg" />
		
	</head>
	<body class="flex flex-col min-h-screen font-sans bg-fond-1 text-text">
		<Navbar />
		<main class="flex-grow">
			<slot />
		</main>
		<Footer />
	</body>
</html>

